{% if weather_data %}
    <div class="text-center">
        <h1 class="text-2xl font-bold">{{ weather_data.city }}</h1>
        <h1 class="text-4xl font-bold">{{ weather_data.temperature }}°C</h1>
        <p class="text-gray-600">{{ weather_data.description }}</p>
        <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}" class="mt-4 flex justify-center">
    </div>
{% endif %}


{% if daily_forecasts %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
        {% for forecast in daily_forecasts %}
            <div class="bg-white p-4 rounded-md shadow-md">
                <h1 class="text-lg font-bold">{{ forecast.day }}</h1>
                <h1 class="text-2xl font-bold">{{ forecast.min_temp }}°C - {{ forecast.max_temp }}°C</h1>
                <p class="text-gray-600">{{ forecast.description }}</p>
                <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description }}" class="mt-2 flex justify-center">
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No daily forecasts available.</p>
{% endif %}
